.rectangle {
  width: 450px;
  height: 300px;
  border: 2px solid blue;
  position: relative;
  left: 400px;
  top: 150px;
}
.square-middle {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  position: absolute;
  left: 590px;
  top: 260px;
}
.square-tl {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  position: absolute;
  left: 408px;
  top: 158px;
}
.square-bl {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  position: absolute;
  left: 408px;
  top: 358px;
}
.square-tr {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  position: absolute;
  left: 758px;
  top: 158px;
}
.square-br {
  width: 100px;
  height: 100px;
  border: 2px solid blue;
  position: absolute;
  left: 758px;
  top: 358px;
}
