body {
  margin: 0 50px;
}
header {
  text-align: center;
  background-image: url("https://static.zerochan.net/Alice.in.Wonderland.full.1451133.jpg");
  padding: 40px 0;
  background-size: cover;
  color: white;
}
#page {
  display: flex;
}
#section1 {
  width: 70%;
  margin-right: 30px;
}
#section2 {
  width: 30%;
}
