
/*Whole Page*/

.site {
  /*margin: 0 50px;*/
}

/*Navigation*/

nav ul li {
  display: block;
  padding: 10px 0;
  text-align: left;
}

nav ul{
  margin-top: 200px;
  margin-bottom: 600px;
  padding-left: 50px;
}
nav a {
  text-decoration: none;
  color: grey;
}

nav a:hover{
  color: black;
}

nav {
  position: fixed;
  border-right: 1px solid grey;
  padding-right: 100px;
}
